In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
sns.despine()

from keras.models import Sequential
from keras.layers.core import Dense, Dropout, Activation, Flatten
from keras.layers import Convolution1D, MaxPooling1D, AtrousConvolution1D, RepeatVector
from keras.callbacks import ModelCheckpoint, ReduceLROnPlateau, CSVLogger
from keras.layers.wrappers import Bidirectional
from keras import regularizers
from keras.layers.normalization import BatchNormalization
from keras.layers.advanced_activations import *
from keras.optimizers import RMSprop, Adam, SGD, Nadam
from keras.initializers import *

In [4]:
data = pd.read_csv("../datasets/apple/AAPL.csv")[::-1]
data.head()

,Date,Open,High,Low,Close,Adj Close,Volume
3088,2017-04-07,143.729996,144.179993,143.270004,143.339996,140.565704,16672200
3087,2017-04-06,144.289993,144.520004,143.449997,143.660004,140.879517,21149000
3086,2017-04-05,144.220001,145.460007,143.809998,144.020004,141.232559,27717900
3085,2017-04-04,143.250000,144.889999,143.169998,144.770004,141.968033,19891400
3084,2017-04-03,143.710007,144.119995,143.050003,143.699997,140.918762,19985700