In [1]:
IMG_HELP_PATH = '/Users/shankar/dev/code/ds/studies/data_science/trading/honchar'
import os
import sys
sys.path.append(os.path.abspath(IMG_HELP_PATH))
from common.preprocessing import split_train_test_in_unison

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns
sns.despine()

In [3]:
data = pd.read_csv("../datasets/apple/AAPL.csv")[::-1]
data.head()

,Date,Open,High,Low,Close,Adj Close,Volume
3088,2017-04-07,143.729996,144.179993,143.270004,143.339996,140.565704,16672200
3087,2017-04-06,144.289993,144.520004,143.449997,143.660004,140.879517,21149000
3086,2017-04-05,144.220001,145.460007,143.809998,144.020004,141.232559,27717900
3085,2017-04-04,143.250000,144.889999,143.169998,144.770004,141.968033,19891400
3084,2017-04-03,143.710007,144.119995,143.050003,143.699997,140.918762,19985700

In [4]:
from common.preprocessing import Classification, Regression
WINDOW = 30
EMB_SIZE = 5
STEP = 1
FORECAST = 1

In [5]:
classifier = Classification(multivariate=True)
X, Y = classifier.preprocess(data, WINDOW, STEP, FORECAST)

list index out of range

In [6]:
X_train, X_test, Y_train, Y_test = split_train_test_in_unison(X, Y)

In [7]:
print(X.shape)
print(Y.shape)
print(X_train.shape)
print(Y_train.shape)
print(X_test.shape)
print(Y_test.shape)

(3058, 30, 5)
(3058, 2)
(2446, 30, 5)
(2446, 2)
(612, 30, 5)
(612, 2)