In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({
    'Time': [10,8,60,20,12,30,15],
    'Event': [1,0,1,1,0,1,0]
})
df

   Time  Event
0    10      1
1     8      0
2    60      1
3    20      1
4    12      0
5    30      1
6    15      0

### Count Patients

In [3]:
df['Event'] == 0

0    False
1     True
2    False
3    False
4     True
5    False
6     True
Name: Event, dtype: bool

In [4]:
sum(df['Event'] == 0)

3

### No. of Patients who definitely survive past time t

In [5]:
t = 25
df['Time'] > t

0    False
1    False
2     True
3    False
4    False
5     True
6    False
Name: Time, dtype: bool

In [6]:
sum(df['Time'] > t)

2

### No. of Patients who may have survived past time t

In [7]:
t = 25
(df['Time'] > t) | (df['Event'] == 0)

0    False
1     True
2     True
3    False
4     True
5     True
6     True
dtype: bool

In [8]:
sum((df['Time'] > t) | (df['Event'] == 0))

5

### No of Patients who were not censored before time t

In [9]:
t = 25
filterr = (df['Event'] == 1) | (df['Time'] > t)

In [10]:
sum(filterr)

4

### Kaplan Meier
The Kaplan Meier estimate of survival probability is:

$$
S(t) = \prod_{t_i \leq t} (1 - \frac{d_i}{n_i})
$$

- $t_i$ are the events observed in the dataset 
- $d_i$ is the number of deaths at time $t_i$
- $n_i$ is the number of people who we know have survived up to time $t_i$.

In [11]:
df = pd.DataFrame({'Time': [3,3,2,2],
                   'Event': [0,1,0,1]
                  })
df

   Time  Event
0     3      0
1     3      1
2     2      0
3     2      1

### Ones survived up to time t_i

In [15]:
t_i = 2
df['Time'] >= t_i

0    True
1    True
2    True
3    True
Name: Time, dtype: bool

### Ones died at time t_i

In [16]:
t_i = 2
(df['Time'] == t_i) and (df['Event'] == 1)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().