In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("./data/dummy_data.csv", index_col=0)
print(f"Shape is {data.shape}")
data.head()

Shape is (50, 5)

   sex  age  obstruct  outcome  TRTMT
1    0   57         0        1   True
2    1   68         0        0  False
3    0   72         0        0   True
4    0   66         1        1   True
5    1   69         0        1  False

In [3]:
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [4]:
data.TRTMT.head()

1     True
2    False
3     True
4     True
5    False
Name: TRTMT, dtype: bool

In [5]:
print(type(data.TRTMT))

<class 'pandas.core.series.Series'>

In [8]:
# Use dot notation to access the TRTMT column
data.TRTMT

# Use .loc to get all rows using ":" for column TRTMT
data.loc[:, "TRTMT"]

print(data.TRTMT.equals(data.loc[:,"TRTMT"]))
print(data.TRTMT.equals(data["TRTMT"]))

True
True

In [9]:
# Get patients aged 50 or less who received treatment
data[(data.age <= 50) & (data.TRTMT == True)]

    sex  age  obstruct  outcome  TRTMT
6     1   43         0        1   True
19    0   34         1        1   True
24    0   50         0        0   True
32    0   33         1        0   True
45    1   40         0        0   True
67    1   49         0        0   True

In [10]:
type(data[(data.age <= 50) & (data.TRTMT == True)])

pandas.core.frame.DataFrame

In [12]:
print(f"Len: {len(data[(data.age <= 50)])}")

# Accessing shape attribute of the df yields a tuple of the form(rows, cols)
print(f"Shape (row, cols) {data[(data.age <= 50)].shape}")

# Accessing the size attribute of the df yields the number of elements in the df
print(f"Size: {data[(data.age <= 50)].size}")

Len: 11
Shape (row, cols) (11, 5)
Size: 55

In [15]:
prop_male_patients = sum(data.sex) / len(data)
print(f"Your answer: {prop_male_patients}, Expected: {21/50}")

Your answer: 0.42, Expected: 0.42

In [16]:
data.sex.mean()

0.42

In [19]:
data.loc[2, 'TRTMT']

True

In [18]:
data.loc[2, 'TRTMT'] = True

In [20]:
data.loc[:, 'sex'] = 0
data.head()

   sex  age  obstruct  outcome  TRTMT
1    0   57         0        1   True
2    0   68         0        0   True
3    0   72         0        0   True
4    0   66         1        1   True
5    0   69         0        1  False

In [21]:
data.loc[3:4, :]

   sex  age  obstruct  outcome  TRTMT
3    0   72         0        0   True
4    0   66         1        1   True