In [1]:
import pandas as pd
import datetime as dt

In [2]:
someday = dt.date(1978, 8, 12)

In [3]:
someday.year

1978

In [4]:
someday.month

8

In [5]:
someday.day

12

In [6]:
dt.datetime(1978, 8, 12)

datetime.datetime(1978, 8, 12, 0, 0)

In [7]:
sometime = dt.datetime(1978, 8, 12, 17, 45, 52)

In [8]:
str(dt.datetime(1978, 8, 12, 17, 45, 52))

'1978-08-12 17:45:52'

In [9]:
sometime.year

1978

### The pandas Timestamp Object

In [10]:
pd.Timestamp("2015-03-21")

Timestamp('2015-03-21 00:00:00')

In [11]:
pd.Timestamp(("2015/03/31"))

Timestamp('2015-03-31 00:00:00')

In [12]:
pd.Timestamp(("1/1/2015"))

Timestamp('2015-01-01 00:00:00')

In [13]:
pd.Timestamp("19/12/2015")

Timestamp('2015-12-19 00:00:00')

In [14]:
pd.Timestamp("2021-03-08 08:35:15")

Timestamp('2021-03-08 08:35:15')

In [15]:
pd.Timestamp("2021-03-08 08:35:15 PM")

Timestamp('2021-03-08 20:35:15')

In [16]:
pd.Timestamp("2015-01-01 00:00:00")

Timestamp('2015-01-01 00:00:00')

In [17]:
pd.Timestamp(dt.datetime(1978, 8, 12, 17, 45, 52))

Timestamp('1978-08-12 17:45:52')

### The pandas DateTimeIndex Object

In [18]:
dates = ["2016-01-02", "2016-04-12", "2016-09-07"]
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-01-02', '2016-04-12', '2016-09-07'], dtype='datetime64[ns]', freq=None)

In [19]:
dates = [dt.date(2016, 1, 10), dt.date(1994, 6, 13), dt.date(2003, 12, 29)]
dtIndex = pd.DatetimeIndex(dates)

In [20]:
values = [100, 200, 300]
pd.Series(data=values, index=dtIndex)

2016-01-10    100
1994-06-13    200
2003-12-29    300
dtype: int64

### The pd.to_datetime() Method

In [21]:
pd.to_datetime("2001-04-19")

Timestamp('2001-04-19 00:00:00')

In [22]:
pd.to_datetime(dt.date(2015, 1, 1))

Timestamp('2015-01-01 00:00:00')

In [23]:
pd.to_datetime(dt.datetime(2015, 1, 1, 14, 35, 20))

Timestamp('2015-01-01 14:35:20')

In [24]:
pd.to_datetime(["2015-01-03", "2014/02/08", "2016", "July 4th, 1996"])

DatetimeIndex(['2015-01-03', '2014-02-08', '2016-01-01', '1996-07-04'], dtype='datetime64[ns]', freq=None)

In [25]:
times = pd.Series(["2015-01-03", "2014/02/08", "2016", "July 4th, 1996"])
times

0        2015-01-03
1        2014/02/08
2              2016
3    July 4th, 1996
dtype: object

In [26]:
pd.to_datetime(times)

0   2015-01-03
1   2014-02-08
2   2016-01-01
3   1996-07-04
dtype: datetime64[ns]

In [27]:
dates = pd.Series(["July 4th 1996", "10/04/1991", "Hello", "2015-02-31"])
pd.to_datetime(dates, errors="coerce")

0   1996-07-04
1   1991-10-04
2          NaT
3          NaT
dtype: datetime64[ns]

In [28]:
pd.to_datetime([(1552066587 + (a * 3600 * 24)) for a in {0, 1, 4, 9, 16, 25, 36, 49, 64, 81} ], unit="s")

DatetimeIndex(['2019-03-08 17:36:27', '2019-03-09 17:36:27',
               '2019-05-11 17:36:27', '2019-03-12 17:36:27',
               '2019-04-13 17:36:27', '2019-03-17 17:36:27',
               '2019-03-24 17:36:27', '2019-04-26 17:36:27',
               '2019-05-28 17:36:27', '2019-04-02 17:36:27'],
              dtype='datetime64[ns]', freq=None)

### Create Range of Dates with the pd.date_range() Method, Part 1

In [29]:
pd.date_range(start="2016-01-01", end="2016-01-10", freq="D")

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06', '2016-01-07', '2016-01-08',
               '2016-01-09', '2016-01-10'],
              dtype='datetime64[ns]', freq='D')

In [30]:
times = pd.date_range(start="2016-01-01", end="2016-01-10", freq="D")
type(times)

pandas.core.indexes.datetimes.DatetimeIndex

In [31]:
times[0]

Timestamp('2016-01-01 00:00:00', freq='D')

In [32]:
type(times[0])

pandas._libs.tslibs.timestamps.Timestamp

In [33]:
pd.date_range(start="2016-01-01", end="2016-01-10", freq="2D")

DatetimeIndex(['2016-01-01', '2016-01-03', '2016-01-05', '2016-01-07',
               '2016-01-09'],
              dtype='datetime64[ns]', freq='2D')

In [34]:
pd.date_range(start="2016-01-01", end="2016-01-10", freq="B")

DatetimeIndex(['2016-01-01', '2016-01-04', '2016-01-05', '2016-01-06',
               '2016-01-07', '2016-01-08'],
              dtype='datetime64[ns]', freq='B')

In [35]:
pd.date_range(start="2016-01-01", end="2016-01-10", freq="W")

DatetimeIndex(['2016-01-03', '2016-01-10'], dtype='datetime64[ns]', freq='W-SUN')

In [36]:
pd.date_range(start="2016-01-01", end="2016-01-10", freq="W-FRI")

DatetimeIndex(['2016-01-01', '2016-01-08'], dtype='datetime64[ns]', freq='W-FRI')

In [37]:
pd.date_range(start="2016-01-01", end="2016-01-10", freq="6H")

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 06:00:00',
               '2016-01-01 12:00:00', '2016-01-01 18:00:00',
               '2016-01-02 00:00:00', '2016-01-02 06:00:00',
               '2016-01-02 12:00:00', '2016-01-02 18:00:00',
               '2016-01-03 00:00:00', '2016-01-03 06:00:00',
               '2016-01-03 12:00:00', '2016-01-03 18:00:00',
               '2016-01-04 00:00:00', '2016-01-04 06:00:00',
               '2016-01-04 12:00:00', '2016-01-04 18:00:00',
               '2016-01-05 00:00:00', '2016-01-05 06:00:00',
               '2016-01-05 12:00:00', '2016-01-05 18:00:00',
               '2016-01-06 00:00:00', '2016-01-06 06:00:00',
               '2016-01-06 12:00:00', '2016-01-06 18:00:00',
               '2016-01-07 00:00:00', '2016-01-07 06:00:00',
               '2016-01-07 12:00:00', '2016-01-07 18:00:00',
               '2016-01-08 00:00:00', '2016-01-08 06:00:00',
               '2016-01-08 12:00:00', '2016-01-08 18:00:00',
               '2016-01-09 00:00:00', '2016-01-09 06:00:00',
               '2016-01-09 12:00:00', '2016-01-09 18:00:00',
               '2016-01-10 00:00:00'],
              dtype='datetime64[ns]', freq='6H')

In [38]:
pd.date_range(start="2016-01-01", end="2016-12-31", freq="M")

DatetimeIndex(['2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30',
               '2016-05-31', '2016-06-30', '2016-07-31', '2016-08-31',
               '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-31'],
              dtype='datetime64[ns]', freq='M')

In [39]:
pd.date_range(start="2016-01-01", end="2050-12-31", freq="MS")

DatetimeIndex(['2016-01-01', '2016-02-01', '2016-03-01', '2016-04-01',
               '2016-05-01', '2016-06-01', '2016-07-01', '2016-08-01',
               '2016-09-01', '2016-10-01',
               ...
               '2050-03-01', '2050-04-01', '2050-05-01', '2050-06-01',
               '2050-07-01', '2050-08-01', '2050-09-01', '2050-10-01',
               '2050-11-01', '2050-12-01'],
              dtype='datetime64[ns]', length=420, freq='MS')

In [40]:
pd.date_range(start="2016-01-01", end="2050-12-31", freq="A")

DatetimeIndex(['2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31',
               '2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31', '2026-12-31', '2027-12-31',
               '2028-12-31', '2029-12-31', '2030-12-31', '2031-12-31',
               '2032-12-31', '2033-12-31', '2034-12-31', '2035-12-31',
               '2036-12-31', '2037-12-31', '2038-12-31', '2039-12-31',
               '2040-12-31', '2041-12-31', '2042-12-31', '2043-12-31',
               '2044-12-31', '2045-12-31', '2046-12-31', '2047-12-31',
               '2048-12-31', '2049-12-31', '2050-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

### Create Range of Dates with the pd.date_range() Method, Part 2

In [41]:
pd.date_range(start="2012-09-09", periods=25, freq="2D")

DatetimeIndex(['2012-09-09', '2012-09-11', '2012-09-13', '2012-09-15',
               '2012-09-17', '2012-09-19', '2012-09-21', '2012-09-23',
               '2012-09-25', '2012-09-27', '2012-09-29', '2012-10-01',
               '2012-10-03', '2012-10-05', '2012-10-07', '2012-10-09',
               '2012-10-11', '2012-10-13', '2012-10-15', '2012-10-17',
               '2012-10-19', '2012-10-21', '2012-10-23', '2012-10-25',
               '2012-10-27'],
              dtype='datetime64[ns]', freq='2D')

In [42]:
pd.date_range(start="2012-09-09", periods=25, freq="B")

DatetimeIndex(['2012-09-10', '2012-09-11', '2012-09-12', '2012-09-13',
               '2012-09-14', '2012-09-17', '2012-09-18', '2012-09-19',
               '2012-09-20', '2012-09-21', '2012-09-24', '2012-09-25',
               '2012-09-26', '2012-09-27', '2012-09-28', '2012-10-01',
               '2012-10-02', '2012-10-03', '2012-10-04', '2012-10-05',
               '2012-10-08', '2012-10-09', '2012-10-10', '2012-10-11',
               '2012-10-12'],
              dtype='datetime64[ns]', freq='B')

In [43]:
pd.date_range(start="2012-09-09", periods=25, freq="MS")

DatetimeIndex(['2012-10-01', '2012-11-01', '2012-12-01', '2013-01-01',
               '2013-02-01', '2013-03-01', '2013-04-01', '2013-05-01',
               '2013-06-01', '2013-07-01', '2013-08-01', '2013-09-01',
               '2013-10-01', '2013-11-01', '2013-12-01', '2014-01-01',
               '2014-02-01', '2014-03-01', '2014-04-01', '2014-05-01',
               '2014-06-01', '2014-07-01', '2014-08-01', '2014-09-01',
               '2014-10-01'],
              dtype='datetime64[ns]', freq='MS')

In [44]:
pd.date_range(start="2012-09-09", periods=25, freq="A")

DatetimeIndex(['2012-12-31', '2013-12-31', '2014-12-31', '2015-12-31',
               '2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31',
               '2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31', '2026-12-31', '2027-12-31',
               '2028-12-31', '2029-12-31', '2030-12-31', '2031-12-31',
               '2032-12-31', '2033-12-31', '2034-12-31', '2035-12-31',
               '2036-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [45]:
pd.date_range(start="2012-09-09", periods=25, freq="6H")

DatetimeIndex(['2012-09-09 00:00:00', '2012-09-09 06:00:00',
               '2012-09-09 12:00:00', '2012-09-09 18:00:00',
               '2012-09-10 00:00:00', '2012-09-10 06:00:00',
               '2012-09-10 12:00:00', '2012-09-10 18:00:00',
               '2012-09-11 00:00:00', '2012-09-11 06:00:00',
               '2012-09-11 12:00:00', '2012-09-11 18:00:00',
               '2012-09-12 00:00:00', '2012-09-12 06:00:00',
               '2012-09-12 12:00:00', '2012-09-12 18:00:00',
               '2012-09-13 00:00:00', '2012-09-13 06:00:00',
               '2012-09-13 12:00:00', '2012-09-13 18:00:00',
               '2012-09-14 00:00:00', '2012-09-14 06:00:00',
               '2012-09-14 12:00:00', '2012-09-14 18:00:00',
               '2012-09-15 00:00:00'],
              dtype='datetime64[ns]', freq='6H')

### Create Range of Dates with the pd.date_range() Method. Part 3

In [46]:
pd.date_range(end="1999-12-31", periods=20, freq="D")

DatetimeIndex(['1999-12-12', '1999-12-13', '1999-12-14', '1999-12-15',
               '1999-12-16', '1999-12-17', '1999-12-18', '1999-12-19',
               '1999-12-20', '1999-12-21', '1999-12-22', '1999-12-23',
               '1999-12-24', '1999-12-25', '1999-12-26', '1999-12-27',
               '1999-12-28', '1999-12-29', '1999-12-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='D')

In [47]:
pd.date_range(end="1999-12-31", periods=20, freq="B")

DatetimeIndex(['1999-12-06', '1999-12-07', '1999-12-08', '1999-12-09',
               '1999-12-10', '1999-12-13', '1999-12-14', '1999-12-15',
               '1999-12-16', '1999-12-17', '1999-12-20', '1999-12-21',
               '1999-12-22', '1999-12-23', '1999-12-24', '1999-12-27',
               '1999-12-28', '1999-12-29', '1999-12-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='B')

In [48]:
pd.date_range(end="1999-12-31", periods=20, freq="W-SUN")

DatetimeIndex(['1999-08-15', '1999-08-22', '1999-08-29', '1999-09-05',
               '1999-09-12', '1999-09-19', '1999-09-26', '1999-10-03',
               '1999-10-10', '1999-10-17', '1999-10-24', '1999-10-31',
               '1999-11-07', '1999-11-14', '1999-11-21', '1999-11-28',
               '1999-12-05', '1999-12-12', '1999-12-19', '1999-12-26'],
              dtype='datetime64[ns]', freq='W-SUN')

### The .dt Accessor

In [49]:
bunch_of_dates = pd.date_range(start="2001-01-01", end="2010-12-31", freq="24D")

In [50]:
s = pd.Series(bunch_of_dates)
s.head()

0   2001-01-01
1   2001-01-25
2   2001-02-18
3   2001-03-14
4   2001-04-07
dtype: datetime64[ns]

In [51]:
s.dt.dayofweek.head()

0    0
1    3
2    6
3    2
4    5
dtype: int64

In [52]:
s.dt.weekday_name.head()

0       Monday
1     Thursday
2       Sunday
3    Wednesday
4     Saturday
dtype: object

In [53]:
mask = s.dt.is_month_start
s[mask]

0     2001-01-01
5     2001-05-01
71    2005-09-01
90    2006-12-01
109   2008-03-01
dtype: datetime64[ns]

### Import Financial Data Set with pandas_datareader library

In [1]:
import pandas as pd
import datetime as dt
from pandas_datareader import data, web

In [5]:
company = "MSFT"
start = "2010-01-02"
end = "2017-12-31"

stocks = data.DataReader(company, data_source="yahoo", start=start, end=end)
stocks.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.100000  30.590000  30.620001  30.950001  38409100.0  24.615801
2010-01-05  31.100000  30.639999  30.850000  30.959999  49749600.0  24.623755
2010-01-06  31.080000  30.520000  30.879999  30.770000  58182400.0  24.472631
2010-01-07  30.700001  30.190001  30.629999  30.450001  50559700.0  24.218124
2010-01-08  30.879999  30.240000  30.280001  30.660000  51197400.0  24.385145

### Selecting from a DataFrame with a DateTimeIndex

In [6]:
stocks.loc["2014-03-04"]

High         3.848000e+01
Low          3.807000e+01
Open         3.820000e+01
Close        3.841000e+01
Volume       2.680240e+07
Adj Close    3.416959e+01
Name: 2014-03-04 00:00:00, dtype: float64

In [10]:
stocks.iloc[300]

High         2.576000e+01
Low          2.535000e+01
Open         2.549000e+01
Close        2.569000e+01
Volume       5.447340e+07
Adj Close    2.098114e+01
Name: 2011-03-14 00:00:00, dtype: float64

In [11]:
stocks.loc["2013-10-01":"2013-10-17"]

                 High        Low       Open      Close      Volume  Adj Close
Date
2013-10-01  33.610001  33.299999  33.349998  33.580002  36718700.0  29.427307
2013-10-02  34.029999  33.290001  33.360001  33.919998  46946800.0  29.725256
2013-10-03  34.000000  33.419998  33.880001  33.860001  38703800.0  29.672684
2013-10-04  33.990002  33.619999  33.689999  33.880001  33008100.0  29.690199
2013-10-07  33.709999  33.200001  33.599998  33.299999  35069300.0  29.181934
2013-10-08  33.330002  32.799999  33.310001  33.009998  41017600.0  28.927794
2013-10-09  33.349998  32.959999  33.070000  33.070000  35878600.0  28.980375
2013-10-10  33.889999  33.259998  33.310001  33.759998  42875100.0  29.585045
2013-10-11  34.139999  33.680000  33.680000  34.130001  30033300.0  29.909288
2013-10-14  34.500000  33.779999  33.900002  34.450001  27757900.0  30.189720
2013-10-15  34.990002  34.470001  34.669998  34.490002  47097800.0  30.224771
2013-10-16  34.900002  34.560001  34.599998  34.639999  35111600.0  30.356218
2013-10-17  34.990002  34.369999  34.450001  34.919998  31359200.0  30.601597

In [17]:
birthdays = pd.date_range(start="1978-08-12", end="2019-08-12", freq=pd.DateOffset(years=1))

In [19]:
mask = stocks.index.isin(birthdays)
stocks.loc[mask]

                 High        Low       Open      Close      Volume  Adj Close
Date
2010-08-12  24.680000  24.360001  24.420000  24.490000  70240500.0  19.657284
2011-08-12  25.340000  24.650000  25.129999  25.100000  64787100.0  20.633648
2013-08-12  32.970001  32.459999  32.459999  32.869999  25493700.0  28.603546
2014-08-12  43.590000  43.000000  43.040001  43.520000  21431100.0  38.988590
2015-08-12  46.900002  45.709999  46.189999  46.740002  30181400.0  42.979866
2016-08-12  58.189999  57.619999  58.029999  57.939999  21655200.0  54.759674

### Timestamp Object Attributes

In [21]:
someday = stocks.index[500]

In [22]:
someday.day

27

In [25]:
someday.weekday_name

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: `weekday_name` is deprecated and will be removed in a future version. Use `day_name` instead
  """Entry point for launching an IPython kernel.

'Tuesday'

In [26]:
stocks.insert(0, "Day of Week", stocks.index.weekday_name)

In [27]:
stocks.head()

,Day of Week,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,
2010-01-04,Monday,31.100000,30.590000,30.620001,30.950001,38409100.0,24.615801
2010-01-05,Tuesday,31.100000,30.639999,30.850000,30.959999,49749600.0,24.623755
2010-01-06,Wednesday,31.080000,30.520000,30.879999,30.770000,58182400.0,24.472631
2010-01-07,Thursday,30.700001,30.190001,30.629999,30.450001,50559700.0,24.218124
2010-01-08,Friday,30.879999,30.240000,30.280001,30.660000,51197400.0,24.385145

In [29]:
stocks.insert(1, "Is Start of Month", stocks.index.is_month_start)

In [30]:
stocks.head()

,Day of Week,Is Start of Month,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,
2010-01-04,Monday,False,31.100000,30.590000,30.620001,30.950001,38409100.0,24.615801
2010-01-05,Tuesday,False,31.100000,30.639999,30.850000,30.959999,49749600.0,24.623755
2010-01-06,Wednesday,False,31.080000,30.520000,30.879999,30.770000,58182400.0,24.472631
2010-01-07,Thursday,False,30.700001,30.190001,30.629999,30.450001,50559700.0,24.218124
2010-01-08,Friday,False,30.879999,30.240000,30.280001,30.660000,51197400.0,24.385145

In [32]:
stocks[stocks["Is Start of Month"]].head()

,Day of Week,Is Start of Month,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,
2010-02-01,Monday,True,28.480000,27.920000,28.389999,28.410000,85931100.0,22.595629
2010-03-01,Monday,True,29.049999,28.530001,28.770000,29.020000,43805400.0,23.188726
2010-04-01,Thursday,True,29.540001,28.620001,29.350000,29.160000,74768100.0,23.300583
2010-06-01,Tuesday,True,26.309999,25.520000,25.530001,25.889999,76152400.0,20.781010
2010-07-01,Thursday,True,23.320000,22.730000,23.090000,23.160000,92239400.0,18.589743

### The .truncate() Method

In [33]:
stocks.truncate(before="2011-02-05", after="2011-02-28")

,Day of Week,Is Start of Month,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,
2011-02-07,Monday,False,28.340000,27.790001,27.799999,28.200001,68980900.0,22.895735
2011-02-08,Tuesday,False,28.340000,28.049999,28.100000,28.280001,34904200.0,22.960686
2011-02-09,Wednesday,False,28.260000,27.910000,28.190001,27.969999,52905100.0,22.709000
2011-02-10,Thursday,False,27.940001,27.290001,27.930000,27.500000,76672400.0,22.327404
2011-02-11,Friday,False,27.809999,27.070000,27.760000,27.250000,83939700.0,22.124426
2011-02-14,Monday,False,27.270000,26.950001,27.209999,27.230000,56766200.0,22.108189
2011-02-15,Tuesday,False,27.330000,26.950001,27.040001,26.959999,44116500.0,22.018347
2011-02-16,Wednesday,False,27.070000,26.600000,27.049999,27.020000,70817900.0,22.067352
2011-02-17,Thursday,False,27.370001,26.910000,26.969999,27.209999,57207300.0,22.222528
2011-02-18,Friday,False,27.209999,26.990000,27.129999,27.059999,68667800.0,22.100019
2011-02-22,Tuesday,False,27.100000,26.520000,26.780001,26.590000,60889000.0,21.716171
2011-02-23,Wednesday,False,26.860001,26.430000,26.530001,26.590000,60234100.0,21.716171
2011-02-24,Thursday,False,27.059999,26.500000,26.639999,26.770000,64494200.0,21.863176
2011-02-25,Friday,False,26.950001,26.500000,26.910000,26.549999,53006300.0,21.683502
2011-02-28,Monday,False,26.860001,26.510000,26.690001,26.580000,51379900.0,21.708004

### pd.DateOffset Objects

In [36]:
stock = data.DataReader(name="GOOG", data_source="yahoo", start=dt.date(2000, 1, 1), end=dt.datetime.now())
stocks.head()

,Day of Week,Is Start of Month,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,
2010-01-04,Monday,False,31.100000,30.590000,30.620001,30.950001,38409100.0,24.615801
2010-01-05,Tuesday,False,31.100000,30.639999,30.850000,30.959999,49749600.0,24.623755
2010-01-06,Wednesday,False,31.080000,30.520000,30.879999,30.770000,58182400.0,24.472631
2010-01-07,Thursday,False,30.700001,30.190001,30.629999,30.450001,50559700.0,24.218124
2010-01-08,Friday,False,30.879999,30.240000,30.280001,30.660000,51197400.0,24.385145

In [38]:
stocks.index + pd.DateOffset(days=5)

DatetimeIndex(['2010-01-09', '2010-01-10', '2010-01-11', '2010-01-12',
               '2010-01-13', '2010-01-16', '2010-01-17', '2010-01-18',
               '2010-01-19', '2010-01-20',
               ...
               '2017-12-20', '2017-12-23', '2017-12-24', '2017-12-25',
               '2017-12-26', '2017-12-27', '2017-12-31', '2018-01-01',
               '2018-01-02', '2018-01-03'],
              dtype='datetime64[ns]', name='Date', length=2013, freq=None)

### More fun with pd.DateOffset Objects

In [49]:
import pandas as pd
import datetime as dt
from pandas_datareader import data
from pandas.tseries.offsets import *

In [50]:
stocks.index - pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31',
               ...
               '2017-11-30', '2017-11-30', '2017-11-30', '2017-11-30',
               '2017-11-30', '2017-11-30', '2017-11-30', '2017-11-30',
               '2017-11-30', '2017-11-30'],
              dtype='datetime64[ns]', name='Date', length=2013, freq=None)

In [51]:
stocks.index - pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31',
               ...
               '2017-11-30', '2017-11-30', '2017-11-30', '2017-11-30',
               '2017-11-30', '2017-11-30', '2017-11-30', '2017-11-30',
               '2017-11-30', '2017-11-30'],
              dtype='datetime64[ns]', name='Date', length=2013, freq=None)

In [53]:
stocks.index - MonthEnd()

DatetimeIndex(['2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31',
               ...
               '2017-11-30', '2017-11-30', '2017-11-30', '2017-11-30',
               '2017-11-30', '2017-11-30', '2017-11-30', '2017-11-30',
               '2017-11-30', '2017-11-30'],
              dtype='datetime64[ns]', name='Date', length=2013, freq=None)

In [54]:
stocks.index - BMonthEnd()

DatetimeIndex(['2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31',
               ...
               '2017-11-30', '2017-11-30', '2017-11-30', '2017-11-30',
               '2017-11-30', '2017-11-30', '2017-11-30', '2017-11-30',
               '2017-11-30', '2017-11-30'],
              dtype='datetime64[ns]', name='Date', length=2013, freq=None)

In [55]:
stocks.index  + QuarterEnd()

DatetimeIndex(['2010-03-31', '2010-03-31', '2010-03-31', '2010-03-31',
               '2010-03-31', '2010-03-31', '2010-03-31', '2010-03-31',
               '2010-03-31', '2010-03-31',
               ...
               '2017-12-31', '2017-12-31', '2017-12-31', '2017-12-31',
               '2017-12-31', '2017-12-31', '2017-12-31', '2017-12-31',
               '2017-12-31', '2017-12-31'],
              dtype='datetime64[ns]', name='Date', length=2013, freq=None)

In [57]:
stocks.index + YearEnd()

DatetimeIndex(['2010-12-31', '2010-12-31', '2010-12-31', '2010-12-31',
               '2010-12-31', '2010-12-31', '2010-12-31', '2010-12-31',
               '2010-12-31', '2010-12-31',
               ...
               '2017-12-31', '2017-12-31', '2017-12-31', '2017-12-31',
               '2017-12-31', '2017-12-31', '2017-12-31', '2017-12-31',
               '2017-12-31', '2017-12-31'],
              dtype='datetime64[ns]', name='Date', length=2013, freq=None)

### The TimeDelta Object

In [62]:
timeA = pd.Timestamp("2016-03-31")
timeB = pd.Timestamp("2016-03-20")

In [63]:
timeA - timeB

Timedelta('11 days 00:00:00')

In [64]:
timeB - timeA

Timedelta('-11 days +00:00:00')

In [67]:
pd.Timedelta(days=3, minutes=45, hours=12)

Timedelta('3 days 12:45:00')

In [68]:
pd.Timedelta(days=3, minutes=45, hours=12, weeks=8)

Timedelta('59 days 12:45:00')

In [69]:
pd.Timedelta("6 hours 12 minutes")

Timedelta('0 days 06:12:00')

### Timedeltas in a Dataset

In [73]:
shipping = pd.read_csv("../data/ecommerce.csv", index_col="ID", parse_dates=["order_date", "delivery_date"])
shipping.head()

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26
5  1992-07-21    1997-11-20
7  1993-09-02    1998-06-10

In [75]:
shipping["Delivery Time"] = shipping["delivery_date"] - shipping["order_date"]
shipping.head()

   order_date delivery_date Delivery Time
ID
1  1998-05-24    1999-02-05      257 days
2  1992-04-22    1998-03-06     2144 days
4  1991-02-10    1992-08-26      563 days
5  1992-07-21    1997-11-20     1948 days
7  1993-09-02    1998-06-10     1742 days

In [77]:
shipping["2wice Long"] = shipping["delivery_date"] + shipping["Delivery Time"]
shipping.head()

   order_date delivery_date Delivery Time 2wice Long
ID
1  1998-05-24    1999-02-05      257 days 1999-10-20
2  1992-04-22    1998-03-06     2144 days 2004-01-18
4  1991-02-10    1992-08-26      563 days 1994-03-12
5  1992-07-21    1997-11-20     1948 days 2003-03-22
7  1993-09-02    1998-06-10     1742 days 2003-03-18

In [78]:
shipping.dtypes

order_date        datetime64[ns]
delivery_date     datetime64[ns]
Delivery Time    timedelta64[ns]
2wice Long        datetime64[ns]
dtype: object

In [80]:
mask = shipping["Delivery Time"] > "3000 days"
shipping[mask]

    order_date delivery_date Delivery Time 2wice Long
ID
32  1990-01-20    1998-07-24     3107 days 2007-01-25
130 1990-04-02    1999-08-16     3423 days 2008-12-29
151 1991-01-29    1999-08-05     3110 days 2008-02-09
229 1990-04-13    1998-11-17     3140 days 2007-06-23
314 1990-03-07    1999-12-25     3580 days 2009-10-13
331 1990-09-18    1999-12-19     3379 days 2009-03-20
348 1990-02-27    1999-01-04     3233 days 2007-11-11
392 1990-12-24    1999-12-04     3267 days 2008-11-13
590 1990-03-25    1998-12-20     3192 days 2007-09-16
634 1991-04-04    1999-07-21     3030 days 2007-11-06
674 1990-03-16    1998-12-28     3209 days 2007-10-11
760 1990-09-16    1998-12-06     3003 days 2007-02-25
764 1990-09-19    1999-09-16     3284 days 2008-09-12
786 1990-10-26    1999-05-10     3118 days 2007-11-22
884 1990-01-20    1999-11-12     3583 days 2009-09-03
902 1991-07-03    1999-11-10     3052 days 2008-03-19
904 1990-02-13    1999-11-15     3562 days 2009-08-16
943 1991-01-30    1999-12-02     3228 days 2008-10-03

In [81]:
shipping["Delivery Time"].max()

Timedelta('3583 days 00:00:00')

In [82]:
shipping["Delivery Time"].min()

Timedelta('8 days 00:00:00')