In [1]:
import pandas as pd

### Feed pd.read_csv() Method a URL Argument

In [2]:
URL = "https://data.cityofnewyork.us/api/views/25th-nujf/rows.csv"
baby_names = pd.read_csv(URL)
baby_names.head()

,Year of Birth,Gender,Ethnicity,Child's First Name,Count,Rank
0,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Olivia,172,1
1,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Chloe,112,2
2,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Sophia,104,3
3,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Emily,99,4
4,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Emma,99,4

### Quick Object Conversions

In [7]:
baby_names["Child's First Name"].tolist()
babies = baby_names["Child's First Name"].to_frame()

In [12]:
", ".join(str(name) for name in baby_names["Child's First Name"][:10])

'Olivia, Chloe, Sophia, Emily, Emma, Mia, Charlotte, Sarah, Hannah, Isabella'