In [2]:
import pandas as pd
import datetime as dt

In [5]:
someday = dt.date(1978, 8, 12)

In [6]:
someday.year

1978

In [7]:
someday.month

8

In [8]:
someday.day

12

In [9]:
dt.datetime(1978, 8, 12)

datetime.datetime(1978, 8, 12, 0, 0)

In [14]:
sometime = dt.datetime(1978, 8, 12, 17, 45, 52)

In [15]:
str(dt.datetime(1978, 8, 12, 17, 45, 52))

'1978-08-12 17:45:52'

In [16]:
sometime.year

1978

### The pandas Timestamp Object

In [18]:
pd.Timestamp("2015-03-21")

Timestamp('2015-03-21 00:00:00')

In [19]:
pd.Timestamp(("2015/03/31"))

Timestamp('2015-03-31 00:00:00')

In [20]:
pd.Timestamp(("1/1/2015"))

Timestamp('2015-01-01 00:00:00')

In [21]:
pd.Timestamp("19/12/2015")

Timestamp('2015-12-19 00:00:00')

In [22]:
pd.Timestamp("2021-03-08 08:35:15")

Timestamp('2021-03-08 08:35:15')

In [23]:
pd.Timestamp("2021-03-08 08:35:15 PM")

Timestamp('2021-03-08 20:35:15')

In [24]:
pd.Timestamp("2015-01-01 00:00:00")

Timestamp('2015-01-01 00:00:00')

In [25]:
pd.Timestamp(dt.datetime(1978, 8, 12, 17, 45, 52))

Timestamp('1978-08-12 17:45:52')

### The pandas DateTimeIndex Object

In [26]:
dates = ["2016-01-02", "2016-04-12", "2016-09-07"]
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-01-02', '2016-04-12', '2016-09-07'], dtype='datetime64[ns]', freq=None)

In [30]:
dates = [dt.date(2016, 1, 10), dt.date(1994, 6, 13), dt.date(2003, 12, 29)]
dtIndex = pd.DatetimeIndex(dates)

In [31]:
values = [100, 200, 300]
pd.Series(data=values, index=dtIndex)

2016-01-10    100
1994-06-13    200
2003-12-29    300
dtype: int64

### The pd.to_datetime() Method

In [32]:
pd.to_datetime("2001-04-19")

Timestamp('2001-04-19 00:00:00')

In [33]:
pd.to_datetime(dt.date(2015, 1, 1))

Timestamp('2015-01-01 00:00:00')

In [34]:
pd.to_datetime(dt.datetime(2015, 1, 1, 14, 35, 20))

Timestamp('2015-01-01 14:35:20')

In [37]:
pd.to_datetime(["2015-01-03", "2014/02/08", "2016", "July 4th, 1996"])

DatetimeIndex(['2015-01-03', '2014-02-08', '2016-01-01', '1996-07-04'], dtype='datetime64[ns]', freq=None)

In [39]:
times = pd.Series(["2015-01-03", "2014/02/08", "2016", "July 4th, 1996"])
times

0        2015-01-03
1        2014/02/08
2              2016
3    July 4th, 1996
dtype: object

In [40]:
pd.to_datetime(times)

0   2015-01-03
1   2014-02-08
2   2016-01-01
3   1996-07-04
dtype: datetime64[ns]

In [42]:
dates = pd.Series(["July 4th 1996", "10/04/1991", "Hello", "2015-02-31"])
pd.to_datetime(dates, errors="coerce")

0   1996-07-04
1   1991-10-04
2          NaT
3          NaT
dtype: datetime64[ns]

In [51]:
pd.to_datetime([(1552066587 + (a * 3600 * 24)) for a in {0, 1, 4, 9, 16, 25, 36, 49, 64, 81} ], unit="s")

DatetimeIndex(['2019-03-08 17:36:27', '2019-03-09 17:36:27',
               '2019-05-11 17:36:27', '2019-03-12 17:36:27',
               '2019-04-13 17:36:27', '2019-03-17 17:36:27',
               '2019-03-24 17:36:27', '2019-04-26 17:36:27',
               '2019-05-28 17:36:27', '2019-04-02 17:36:27'],
              dtype='datetime64[ns]', freq=None)

### Create Range of Dates with the pd.date_range() Method, Part 1

In [53]:
pd.date_range(start="2016-01-01", end="2016-01-10", freq="D")

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06', '2016-01-07', '2016-01-08',
               '2016-01-09', '2016-01-10'],
              dtype='datetime64[ns]', freq='D')

In [54]:
times = pd.date_range(start="2016-01-01", end="2016-01-10", freq="D")
type(times)

pandas.core.indexes.datetimes.DatetimeIndex

In [55]:
times[0]

Timestamp('2016-01-01 00:00:00', freq='D')

In [56]:
type(times[0])

pandas._libs.tslibs.timestamps.Timestamp

In [57]:
pd.date_range(start="2016-01-01", end="2016-01-10", freq="2D")

DatetimeIndex(['2016-01-01', '2016-01-03', '2016-01-05', '2016-01-07',
               '2016-01-09'],
              dtype='datetime64[ns]', freq='2D')

In [58]:
pd.date_range(start="2016-01-01", end="2016-01-10", freq="B")

DatetimeIndex(['2016-01-01', '2016-01-04', '2016-01-05', '2016-01-06',
               '2016-01-07', '2016-01-08'],
              dtype='datetime64[ns]', freq='B')

In [59]:
pd.date_range(start="2016-01-01", end="2016-01-10", freq="W")

DatetimeIndex(['2016-01-03', '2016-01-10'], dtype='datetime64[ns]', freq='W-SUN')

In [60]:
pd.date_range(start="2016-01-01", end="2016-01-10", freq="W-FRI")

DatetimeIndex(['2016-01-01', '2016-01-08'], dtype='datetime64[ns]', freq='W-FRI')

In [61]:
pd.date_range(start="2016-01-01", end="2016-01-10", freq="6H")

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 06:00:00',
               '2016-01-01 12:00:00', '2016-01-01 18:00:00',
               '2016-01-02 00:00:00', '2016-01-02 06:00:00',
               '2016-01-02 12:00:00', '2016-01-02 18:00:00',
               '2016-01-03 00:00:00', '2016-01-03 06:00:00',
               '2016-01-03 12:00:00', '2016-01-03 18:00:00',
               '2016-01-04 00:00:00', '2016-01-04 06:00:00',
               '2016-01-04 12:00:00', '2016-01-04 18:00:00',
               '2016-01-05 00:00:00', '2016-01-05 06:00:00',
               '2016-01-05 12:00:00', '2016-01-05 18:00:00',
               '2016-01-06 00:00:00', '2016-01-06 06:00:00',
               '2016-01-06 12:00:00', '2016-01-06 18:00:00',
               '2016-01-07 00:00:00', '2016-01-07 06:00:00',
               '2016-01-07 12:00:00', '2016-01-07 18:00:00',
               '2016-01-08 00:00:00', '2016-01-08 06:00:00',
               '2016-01-08 12:00:00', '2016-01-08 18:00:00',
               '2016-01-09 00:00:00', '2016-01-09 06:00:00',
               '2016-01-09 12:00:00', '2016-01-09 18:00:00',
               '2016-01-10 00:00:00'],
              dtype='datetime64[ns]', freq='6H')

In [63]:
pd.date_range(start="2016-01-01", end="2016-12-31", freq="M")

DatetimeIndex(['2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30',
               '2016-05-31', '2016-06-30', '2016-07-31', '2016-08-31',
               '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-31'],
              dtype='datetime64[ns]', freq='M')

In [65]:
pd.date_range(start="2016-01-01", end="2050-12-31", freq="MS")

DatetimeIndex(['2016-01-01', '2016-02-01', '2016-03-01', '2016-04-01',
               '2016-05-01', '2016-06-01', '2016-07-01', '2016-08-01',
               '2016-09-01', '2016-10-01',
               ...
               '2050-03-01', '2050-04-01', '2050-05-01', '2050-06-01',
               '2050-07-01', '2050-08-01', '2050-09-01', '2050-10-01',
               '2050-11-01', '2050-12-01'],
              dtype='datetime64[ns]', length=420, freq='MS')

In [66]:
pd.date_range(start="2016-01-01", end="2050-12-31", freq="A")

DatetimeIndex(['2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31',
               '2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31', '2026-12-31', '2027-12-31',
               '2028-12-31', '2029-12-31', '2030-12-31', '2031-12-31',
               '2032-12-31', '2033-12-31', '2034-12-31', '2035-12-31',
               '2036-12-31', '2037-12-31', '2038-12-31', '2039-12-31',
               '2040-12-31', '2041-12-31', '2042-12-31', '2043-12-31',
               '2044-12-31', '2045-12-31', '2046-12-31', '2047-12-31',
               '2048-12-31', '2049-12-31', '2050-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

### Create Range of Dates with the pd.date_range() Method, Part 2

In [68]:
pd.date_range(start="2012-09-09", periods=25, freq="2D")

DatetimeIndex(['2012-09-09', '2012-09-11', '2012-09-13', '2012-09-15',
               '2012-09-17', '2012-09-19', '2012-09-21', '2012-09-23',
               '2012-09-25', '2012-09-27', '2012-09-29', '2012-10-01',
               '2012-10-03', '2012-10-05', '2012-10-07', '2012-10-09',
               '2012-10-11', '2012-10-13', '2012-10-15', '2012-10-17',
               '2012-10-19', '2012-10-21', '2012-10-23', '2012-10-25',
               '2012-10-27'],
              dtype='datetime64[ns]', freq='2D')

In [69]:
pd.date_range(start="2012-09-09", periods=25, freq="B")

DatetimeIndex(['2012-09-10', '2012-09-11', '2012-09-12', '2012-09-13',
               '2012-09-14', '2012-09-17', '2012-09-18', '2012-09-19',
               '2012-09-20', '2012-09-21', '2012-09-24', '2012-09-25',
               '2012-09-26', '2012-09-27', '2012-09-28', '2012-10-01',
               '2012-10-02', '2012-10-03', '2012-10-04', '2012-10-05',
               '2012-10-08', '2012-10-09', '2012-10-10', '2012-10-11',
               '2012-10-12'],
              dtype='datetime64[ns]', freq='B')

In [70]:
pd.date_range(start="2012-09-09", periods=25, freq="MS")

DatetimeIndex(['2012-10-01', '2012-11-01', '2012-12-01', '2013-01-01',
               '2013-02-01', '2013-03-01', '2013-04-01', '2013-05-01',
               '2013-06-01', '2013-07-01', '2013-08-01', '2013-09-01',
               '2013-10-01', '2013-11-01', '2013-12-01', '2014-01-01',
               '2014-02-01', '2014-03-01', '2014-04-01', '2014-05-01',
               '2014-06-01', '2014-07-01', '2014-08-01', '2014-09-01',
               '2014-10-01'],
              dtype='datetime64[ns]', freq='MS')

In [71]:
pd.date_range(start="2012-09-09", periods=25, freq="A")

DatetimeIndex(['2012-12-31', '2013-12-31', '2014-12-31', '2015-12-31',
               '2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31',
               '2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31', '2026-12-31', '2027-12-31',
               '2028-12-31', '2029-12-31', '2030-12-31', '2031-12-31',
               '2032-12-31', '2033-12-31', '2034-12-31', '2035-12-31',
               '2036-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [72]:
pd.date_range(start="2012-09-09", periods=25, freq="6H")

DatetimeIndex(['2012-09-09 00:00:00', '2012-09-09 06:00:00',
               '2012-09-09 12:00:00', '2012-09-09 18:00:00',
               '2012-09-10 00:00:00', '2012-09-10 06:00:00',
               '2012-09-10 12:00:00', '2012-09-10 18:00:00',
               '2012-09-11 00:00:00', '2012-09-11 06:00:00',
               '2012-09-11 12:00:00', '2012-09-11 18:00:00',
               '2012-09-12 00:00:00', '2012-09-12 06:00:00',
               '2012-09-12 12:00:00', '2012-09-12 18:00:00',
               '2012-09-13 00:00:00', '2012-09-13 06:00:00',
               '2012-09-13 12:00:00', '2012-09-13 18:00:00',
               '2012-09-14 00:00:00', '2012-09-14 06:00:00',
               '2012-09-14 12:00:00', '2012-09-14 18:00:00',
               '2012-09-15 00:00:00'],
              dtype='datetime64[ns]', freq='6H')

### Create Range of Dates with the pd.date_range() Method. Part 3

In [73]:
pd.date_range(end="1999-12-31", periods=20, freq="D")

DatetimeIndex(['1999-12-12', '1999-12-13', '1999-12-14', '1999-12-15',
               '1999-12-16', '1999-12-17', '1999-12-18', '1999-12-19',
               '1999-12-20', '1999-12-21', '1999-12-22', '1999-12-23',
               '1999-12-24', '1999-12-25', '1999-12-26', '1999-12-27',
               '1999-12-28', '1999-12-29', '1999-12-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='D')

In [74]:
pd.date_range(end="1999-12-31", periods=20, freq="B")

DatetimeIndex(['1999-12-06', '1999-12-07', '1999-12-08', '1999-12-09',
               '1999-12-10', '1999-12-13', '1999-12-14', '1999-12-15',
               '1999-12-16', '1999-12-17', '1999-12-20', '1999-12-21',
               '1999-12-22', '1999-12-23', '1999-12-24', '1999-12-27',
               '1999-12-28', '1999-12-29', '1999-12-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='B')

In [75]:
pd.date_range(end="1999-12-31", periods=20, freq="W-SUN")

DatetimeIndex(['1999-08-15', '1999-08-22', '1999-08-29', '1999-09-05',
               '1999-09-12', '1999-09-19', '1999-09-26', '1999-10-03',
               '1999-10-10', '1999-10-17', '1999-10-24', '1999-10-31',
               '1999-11-07', '1999-11-14', '1999-11-21', '1999-11-28',
               '1999-12-05', '1999-12-12', '1999-12-19', '1999-12-26'],
              dtype='datetime64[ns]', freq='W-SUN')